[Unit]
Description=Backup PostgreSQL PerumNet Enterprise
After=postgresql.service

[Service]
Type=oneshot
User=postgres
ExecStart=/usr/local/sbin/perumnet-enterprise-backup
