[Unit]
Description=PM2 process manager for PerumNet applications
Documentation=https://pm2.keymetrics.io/
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=oneshot
User=perumnet
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PM2_HOME=/home/perumnet/.pm2
RemainAfterExit=yes
ExecStart=/usr/lib/node_modules/pm2/bin/pm2 resurrect
ExecReload=/usr/lib/node_modules/pm2/bin/pm2 reload all
ExecStop=/usr/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
